.nav-logo {
	width: 120px;
	height: 75px;
	display: block;
	margin: 2rem auto 3rem;
}

.active-link {
	.icon,
	.icon-text {
		color: var(--nav-item-hover-color);
	}
}

.icon {
	color: var(--dark-theme-secondary-color);
}

.icon-text {
	color: var(--dark-theme-secondary-color);
	font-size: 18px;
}

.link:hover {
	cursor: pointer;

	.icon,
	.icon-text {
		color: var(--nav-item-hover-color);
	}
}

.info {
	position: absolute;
	bottom: 3rem;
	padding: 0 1.5rem;

	.info-link {
		display: block;
		max-width: max-content;
		margin-bottom: 0.5rem;
		color: var(--dark-theme-secondary-color);
		text-decoration: none;
		font-size: 15px;
		cursor: pointer;
	}

	.info-link:hover {
		color: var(--nav-item-hover-color);
	}
}
