<app-backdrop />
<div class="side-menu {{ show() ? 'open' : 'closed' }}" (click)="close()">
	<div class="d-flex flex-column align-items-center px-4">
		<img src="/logo.png" alt="My Book Shelf" i18n-alt class="nav-logo" />
		<nav class="nav nav-pills flex-column">
			<a
				[routerLink]="['/', ERoutes.BOOKS]"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-house-door icon"></i>
				<span i18n class="ms-2 icon-text">Home</span>
			</a>
			<a
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.SEARCH]"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-search icon"></i>
				<span i18n class="ms-2 icon-text">Search</span>
			</a>
			<a
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.FAVORITES]"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-heart icon"></i>
				<span i18n class="ms-2 icon-text">Favorites</span></a
			>
			<a
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.MYBOOKS]"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-book icon"></i>
				<span i18n class="ms-2 icon-text">My Books</span></a
			>
			<a
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.UPLOAD]"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-file-arrow-up icon"></i>
				<span i18n class="ms-2 icon-text">Upload</span>
			</a>
			<app-theme component="side-menu"></app-theme>
		</nav>
		<div class="info">
			<a i18n class="info-link">About</a>
			<a i18n class="info-link">Support</a>
			<a i18n class="info-link">Terms & Conditions</a>
		</div>
	</div>
</div>
