@use '../../styles/variables.scss' as *;

.favorite-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

@media (max-width: $width-sm) {
	.favorite-container {
		justify-content: space-around;
	}
}
