<div class="container">
	<img
		src="https://s3-alpha-sig.figma.com/img/a7f1/7187/c805adbfbac24bbcb0e7d7ac5b60dba3?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=e9H9bPspyqLF7OgbogcFJhIR3BysIoCjB5gxJ2pAn76CRBJ~rBtPCyIIJ3K8jz5e6YRVeho7mnQEWEz~GiCZOuQAtST9g4rUNxwaD7lSqbXIRotwKrRQ74hEhbA7xr1nCbiKlnMA7mCgq5vKRIl0pfTqm6aULJXb41sUIzHc~DLzJaYtp3ByMHIdOo4bgfrZY21qqHCIwaNZ5YJpwuAqyn0UbGzHJah9pgCGxaa9sJmTKe8bbeJBbqrKyoWtIwe16U8PIxonTpphOwlA5YVYcdzrpmQbAPt9982JBbbDcN1b-JusCybWSUldCYj3KSZ9ECKOZQ6BXXKLZQjUzb08vQ__"
		alt="My Book Shelf"
		class="logo"
	/>
	<p class="welcome">Registration</p>
	<p class="description">For Both Staff & Students</p>
	<form #authForm="ngForm" (ngSubmit)="signup(authForm)">
		<div>
			<label for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control shadow-none"
				id="name"
				name="name"
				#name="ngModel"
				ngModel
				required
			/>
			<p [ngClass]="{ error: true, visibility: name.valid || name.untouched }">
				Enter Name!
			</p>
		</div>
		<div>
			<label for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control shadow-none"
				id="email"
				name="email"
				#email="ngModel"
				email
				ngModel
				required
				aria-describedby="emailHelp"
			/>
			<p
				[ngClass]="{ error: true, visibility: email.valid || email.untouched }"
			>
				Invalid Email!
			</p>
		</div>
		<div>
			<label for="password" class="form-label">Password</label>
			<input
				[type]="fieldPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="password"
				name="password"
				#password="ngModel"
				ngModel
				required
				minlength="8"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldPasswordTextType(),
					'bi-eye-fill': fieldPasswordTextType(),
				}"
				(click)="toggleFieldTextType(fieldPasswordTextType)"
			></i>
			<p
				[ngClass]="{
					error: true,
					visibility: password.valid || password.untouched,
				}"
			>
				The password length must be at least 8 characters!
			</p>
		</div>
		<div>
			<label for="confirm-password" class="form-label">Confirm Password</label>
			<input
				[type]="fieldConfirmPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="confirm-password"
				name="confirmPassword"
				#confirmPassword="ngModel"
				ngModel
				required
				minlength="8"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldConfirmPasswordTextType(),
					'bi-eye-fill': fieldConfirmPasswordTextType(),
				}"
				(click)="toggleFieldTextType(fieldConfirmPasswordTextType)"
			></i>
			<p
				[ngClass]="{
					error: true,
					visibility:
						password.value === confirmPassword.value ||
						confirmPassword.untouched,
				}"
			>
				Passwords must be the same!
			</p>
		</div>
		<div class="d-grid col-12">
			<button
				class="btn btn-orange"
				type="submit"
				[disabled]="
					authForm.invalid || password.value !== confirmPassword.value
				"
			>
				Register
			</button>
		</div>
	</form>
	<p class="footer">
		Already a User? <a routerLink="/login" class="register-link">Login now</a>
	</p>
</div>
