@if (error()) {
	<app-alert [message]="error()" (close)="error.set('')"></app-alert>
}
<div class="container">
	<img src="/logo.png" alt="My Book Shelf" i18n-alt class="logo" />
	<p i18n class="welcome">Registration</p>
	<p i18n class="description">For Both Staff & Students</p>
	<form [formGroup]="authForm" (ngSubmit)="signup()">
		<div>
			<label i18n for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control shadow-none"
				id="name"
				[formControl]="authForm.controls.name"
			/>
			<p
				i18n
				class="error {{
					authForm.controls.name.valid || authForm.controls.name.untouched
						? 'visibility'
						: ''
				}}"
			>
				Invalid Name!
			</p>
		</div>
		<div>
			<label i18n for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control shadow-none"
				id="email"
				[formControl]="authForm.controls.email"
				aria-describedby="emailHelp"
			/>
			<p
				i18n
				class="error {{
					authForm.controls.email.valid || authForm.controls.email.untouched
						? 'visibility'
						: ''
				}}"
			>
				Invalid Email!
			</p>
		</div>
		<div>
			<label i18n for="password" class="form-label">Password</label>
			<input
				[type]="fieldPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="password"
				[formControl]="authForm.controls.password"
			/>
			<i
				class="bi togglePassword {{
					fieldConfirmPasswordTextType() ? 'bi-eye-fill' : 'bi-eye-slash-fill'
				}}"
				(click)="toggleFieldTextType(fieldPasswordTextType)"
			></i>
			<p
				i18n
				class="error {{
					authForm.controls.password.valid ||
					authForm.controls.password.untouched
						? 'visibility'
						: ''
				}}"
			>
				Invalid Password!
			</p>
		</div>
		<div>
			<label i18n for="confirm-password" class="form-label"
				>Confirm Password</label
			>
			<input
				[type]="fieldConfirmPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="confirm-password"
				[formControl]="authForm.controls.confirmPassword"
			/>
			<i
				class="bi togglePassword {{
					fieldConfirmPasswordTextType() ? 'bi-eye-fill' : 'bi-eye-slash-fill'
				}}"
				(click)="toggleFieldTextType(fieldConfirmPasswordTextType)"
			></i>
			<p
				i18n
				class="error {{
					authForm.controls.password.value ===
						authForm.controls.confirmPassword.value ||
					authForm.controls.confirmPassword.untouched
						? 'visibility'
						: ''
				}}"
			>
				Passwords must be the same!
			</p>
		</div>
		<div class="d-grid col-12">
			<button
				i18n
				class="btn btn-orange"
				type="submit"
				[disabled]="
					authForm.invalid ||
					authForm.controls.password.value !==
						authForm.controls.confirmPassword.value
				"
			>
				Register
			</button>
		</div>
	</form>
	<p i18n class="footer">
		Already a User?
		<a [routerLink]="['/', ERoutes.LOGIN]" class="register-link">Login now</a>
	</p>
</div>
