@if (error()) {
	<app-alert [message]="error()" (close)="error.set('')"></app-alert>
}
<div class="container">
	<img src="/logo.png" alt="My Book Shelf" i18n-alt class="logo" />
	<p i18n class="welcome">Registration</p>
	<p i18n class="description">For Both Staff & Students</p>
	<form #authForm="ngForm" (ngSubmit)="signup(authForm)">
		<div>
			<label i18n for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control shadow-none"
				id="name"
				name="name"
				#name="ngModel"
				ngModel
				required
				pattern="^[a-zA-Zа-яА-ЯёЁ][a-zA-Zа-яА-ЯёЁ0-9_\-]{2,15}$"
			/>
			<p
				i18n
				[ngClass]="{ error: true, visibility: name.valid || name.untouched }"
			>
				Invalid Name!
			</p>
		</div>
		<div>
			<label i18n for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control shadow-none"
				id="email"
				name="email"
				#email="ngModel"
				email
				ngModel
				required
				aria-describedby="emailHelp"
			/>
			<p
				i18n
				[ngClass]="{ error: true, visibility: email.valid || email.untouched }"
			>
				Invalid Email!
			</p>
		</div>
		<div>
			<label i18n for="password" class="form-label">Password</label>
			<input
				[type]="fieldPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="password"
				name="password"
				#password="ngModel"
				ngModel
				required
				pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{8,}"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldPasswordTextType(),
					'bi-eye-fill': fieldPasswordTextType(),
				}"
				(click)="toggleFieldTextType(fieldPasswordTextType)"
			></i>
			<p
				i18n
				[ngClass]="{
					error: true,
					visibility: password.valid || password.untouched,
				}"
			>
				Invalid Password!
			</p>
		</div>
		<div>
			<label i18n for="confirm-password" class="form-label"
				>Confirm Password</label
			>
			<input
				[type]="fieldConfirmPasswordTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="confirm-password"
				name="confirmPassword"
				#confirmPassword="ngModel"
				ngModel
				required
				pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{8,}$"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldConfirmPasswordTextType(),
					'bi-eye-fill': fieldConfirmPasswordTextType(),
				}"
				(click)="toggleFieldTextType(fieldConfirmPasswordTextType)"
			></i>
			<p
				i18n
				[ngClass]="{
					error: true,
					visibility:
						password.value === confirmPassword.value ||
						confirmPassword.untouched,
				}"
			>
				Passwords must be the same!
			</p>
		</div>
		<div class="d-grid col-12">
			<button
				i18n
				class="btn btn-orange"
				type="submit"
				[disabled]="
					authForm.invalid || password.value !== confirmPassword.value
				"
			>
				Register
			</button>
		</div>
	</form>
	<p i18n class="footer">
		Already a User?
		<a [routerLink]="['/', ERoutes.LOGIN]" class="register-link">Login now</a>
	</p>
</div>
