<div class="container">
	<form [formGroup]="profileForm" (submit)="saveProfile()">
		<div>
			<label i18n for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control shadow-none"
				id="name"
				[formControl]="profileForm.controls.name"
				placeholder="Username"
				i18n-placeholder
			/>
			<p
				i18n
				class="error {{
					profileForm.controls.name.valid || profileForm.controls.name.pristine
						? 'visibility'
						: ''
				}}"
			>
				Invalid name. Name must contain letters, numbers, symbols "_" and "-"
				and have length from 2 to 15.
			</p>
		</div>
		<div>
			<label i18n for="image" class="form-label">Image</label>
			<input
				type="file"
				accept="image/png, image/jpeg"
				class="form-control shadow-none d-none"
				id="image"
				#fileInput
				[formControl]="profileForm.controls.image"
				(change)="fileSelect($event)"
			/>
			<button
				type="button"
				class="btn btn-warning text-white ms-4"
				(click)="fileInput.click()"
			>
				Select Image
			</button>
			@if (imgUrl()) {
				<div class="image-container">
					<img class="user-image" [src]="imgUrl()" i18n-alt alt="User image" />
					<i class="fs-4 bi bi-x cancel-icon" (click)="removeImage()"></i>
				</div>
			}
			<button
				i18n
				class="btn btn-orange"
				type="submit"
				[disabled]="
					profileForm.invalid ||
					(profileForm.value.name === initialName() && !imgChange())
				"
			>
				Save Profile
			</button>
		</div>
	</form>
</div>
