$text-color: rgba(77, 77, 77, 1);

.container {
	max-width: 28rem;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0px 2px 10px 4px rgba(34, 60, 80, 0.3);
	padding: 3rem 3.3rem 4rem;
	margin-top: 3.5rem;
	margin-bottom: 3rem;

	.form-label {
		font-weight: 600;
		color: $text-color;
	}

	.form-control {
		color: $text-color;
	}

	.logo {
		width: 150px;
		height: 90px;
		display: block;
		margin: 0 auto 2rem;
	}

	.welcome {
		font-size: 20px;
		line-height: 100%;
		text-align: center;
	}

	.description {
		font-size: 15px;
		line-height: 129%;
		color: #ababab;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.btn-orange {
		background-color: rgba(250, 124, 84, 1);
		color: #fff;
		margin-top: 2rem;
	}

	.btn-orange:hover {
		background-color: rgba(235, 82, 49, 1);
	}

	.footer {
		text-align: center;
		line-height: 100%;
		color: $text-color;
		margin-top: 3rem;
	}

	.register-link {
		color: $text-color;
		text-underline-position: under;
	}

	.togglePassword {
		float: right;
		margin-top: -1.9rem;
		margin-right: 1rem;
		color: rgba(142, 162, 185, 1);
		height: 1rem;
		cursor: pointer;
	}
}
