<div class="container">
	<img
		src="https://s3-alpha-sig.figma.com/img/a7f1/7187/c805adbfbac24bbcb0e7d7ac5b60dba3?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=e9H9bPspyqLF7OgbogcFJhIR3BysIoCjB5gxJ2pAn76CRBJ~rBtPCyIIJ3K8jz5e6YRVeho7mnQEWEz~GiCZOuQAtST9g4rUNxwaD7lSqbXIRotwKrRQ74hEhbA7xr1nCbiKlnMA7mCgq5vKRIl0pfTqm6aULJXb41sUIzHc~DLzJaYtp3ByMHIdOo4bgfrZY21qqHCIwaNZ5YJpwuAqyn0UbGzHJah9pgCGxaa9sJmTKe8bbeJBbqrKyoWtIwe16U8PIxonTpphOwlA5YVYcdzrpmQbAPt9982JBbbDcN1b-JusCybWSUldCYj3KSZ9ECKOZQ6BXXKLZQjUzb08vQ__"
		alt="My Book Shelf"
		class="logo"
	/>
	<p class="welcome">Welcome Back!</p>
	<p class="description">
		Sign in to continue working with your Digital Library
	</p>
	<form>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control"
				id="email"
				aria-describedby="emailHelp"
			/>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input
				[type]="fieldTextType() ? 'text' : 'password'"
				class="form-control"
				id="password"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldTextType(),
					'bi-eye-fill': fieldTextType(),
				}"
				(click)="toggleFieldTextType()"
			></i>
		</div>
		<div class="d-grid col-12">
			<button class="btn btn-orange" type="submit">Login</button>
		</div>
	</form>
	<p class="footer">
		New User? <a class="register-link" href="#">Register Here</a>
	</p>
</div>
