@use "@styles/_variables.scss" as *;

.home-book-section {
	margin-top: 5rem;

	.back {
		max-width: max-content;
		cursor: pointer;

		.back-icon {
			color: var(--text-color);
		}

		.back-button {
			text-decoration: none;
			color: var(--text-color);
			font-size: 15px;
			margin-left: 0.7rem;
		}
	}

	.back:hover {
		.back-icon,
		.back-button {
			color: var(--black);
		}
	}

	.card-container {
		display: flex;
		margin-top: 1.5rem;

		.card-book {
			width: 13rem;
			height: 18rem;
			padding: 1.5rem;
			background-color: var(--card-bg-color);
			border-radius: 10px;
			margin-bottom: 2rem;

			.card-image {
				width: 10rem;
				height: 13rem;
				display: block;
				margin: 0 auto;
				border: 1px solid var(--text-color);
			}
		}

		.card-description-container {
			margin: 0 2rem;
			color: var(--text-color);
			width: 29rem;
			margin-bottom: 2rem;

			.card-title {
				font-size: 30px;
				line-height: 129%;
			}

			.card-description {
				font-size: 15px;
				margin-top: 1rem;

				.text-decoration {
					text-decoration: underline;
					text-underline-position: under;
					cursor: pointer;
				}

				.text-decoration:hover {
					color: var(--black);
				}
			}
		}

		.card-author {
			margin-left: auto;
			width: 20rem;
			height: 20rem;
			padding: 1.5rem;
			font-size: 20px;
			color: var(--text-color);

			.card-author-title {
				font-weight: 600;

				.card-author-title-about {
					color: var(--slightly-orange);
					margin-right: 0.2rem;
				}
			}

			.card-author-books {
				font-size: 15px;
				font-weight: 700;
				margin-top: 1rem;
			}

			.images-container {
				display: flex;

				.card-author-image {
					width: 4rem;
					height: 6.25rem;
					margin-right: 1.5rem;
				}
			}
		}
	}
}

@media (max-width: 1140px) {
	.card-container {
		flex-wrap: wrap;
		justify-content: center;

		.card-description-container {
			max-width: 12rem;
			margin-right: 0 !important;
		}

		.card-author {
			margin-left: 0 !important;
		}
	}
}

@media (max-width: 1000px) {
	.card-title {
		font-size: 28px !important;
	}
}

@media (max-width: $width-768px) {
	.card-title {
		font-size: 27px !important;
	}
}

@media (max-width: $width-576px) {
	.card-title {
		font-size: 25px !important;
	}
}

@media (max-width: 550px) {
	.card-description-container {
		margin-left: 0 !important;
	}
}

@media (max-width: 415px) {
	.card-title {
		font-size: 23px !important;
	}

	.card-author {
		max-width: 15rem;
		max-height: 17rem;

		.card-author-title {
			font-size: 18px;
		}

		.card-author-name {
			font-size: 17px;
		}

		.card-author-image {
			max-width: 3rem;
			max-height: 5rem;
		}
	}
}
