@if (!(!book() || (haveAuthorBooks() && !authorBooks().length))) {
	<section class="home-book-section">
		<div class="back" (click)="back()">
			<i class="bi bi-arrow-left back-icon"></i>
			<a i18n class="back-button">Back to results</a>
		</div>
		<div class="card-container">
			<div class="card-book border-0">
				<img
					[src]="book()?.volumeInfo?.imageLinks?.thumbnail"
					[title]="book()?.volumeInfo?.title"
					[alt]="book()?.volumeInfo?.title"
					i18n-alt
					i18n-title
					class="card-image"
				/>
			</div>
			<div class="card-description-container">
				<p i18n class="card-title">{{ book()?.volumeInfo?.title }}</p>
				<p i18n class="card-description">
					{{ book()?.volumeInfo?.authors ? 'By' : '' }}
					<span class="text-decoration" (click)="searchByAuthor()">{{
						book()?.volumeInfo?.authors?.[0]
					}}</span
					>{{
						this.book()?.volumeInfo?.authors &&
							this.book()?.volumeInfo?.publishedDate | separatorPipe
					}}{{ book()?.volumeInfo?.publishedDate | slice: 0 : 4 }}
				</p>
			</div>
			@if (book()?.volumeInfo?.authors) {
				<div class="card-book card-author border-0">
					<p i18n class="card-author-title">
						<span class="card-author-title-about">About</span> Author
					</p>
					<p i18n class="card-author-name">
						{{ book()?.volumeInfo?.authors?.[0] }}
					</p>
					<p i18n class="card-author-books">Other Books</p>
					<div class="images-container">
						@for (authorBook of authorBooks(); track authorBook.id) {
							<img
								[src]="authorBook.volumeInfo.imageLinks.thumbnail"
								[title]="authorBook.volumeInfo.title"
								[alt]="authorBook.volumeInfo.title"
								i18n-alt
								i18n-title
								class="card-author-image border"
							/>
						}
						@if (!authorBooks().length) {
							<p i18n>Nothing Found</p>
						}
					</div>
				</div>
			}
		</div>
	</section>
}
