@use "@styles/_variables.scss" as *;

.book-section {
	position: relative;
	margin-bottom: 2rem;

	.book-section-title {
		font-size: 25px;
		color: var(--text-color);
		display: inline-block;
		margin-right: 2rem;
	}

	.book-section-show {
		display: inline-block;
		font-size: 20px;
		color: var(--grey);
		text-decoration: none;
		margin-bottom: 1rem;
		cursor: pointer;
	}

	.book-section-show:hover {
		text-decoration: underline;
	}

	.books {
		display: flex;
	}
}

@media (max-width: $width-768px) {
	.book-section-title {
		font-size: 22px !important;
	}

	.book-section-show {
		font-size: 18px !important;
	}
}

@media (max-width: $width-696px) {
	.books {
		flex-direction: column;
		align-items: center;
		row-gap: 2rem;
	}
}

@media (max-width: $width-576px) {
	.book-section-title {
		font-size: 20px !important;
	}

	.book-section-show {
		font-size: 17px !important;
	}
}
