<div class="dropdown border">
	<a
		class="d-flex align-items-center text-decoration-none dropdown-toggle ps-2 pe-3 color"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		data-bs-offset="-7,15"
	>
		<span class="mx-3">Browse</span>
	</a>
	<ul class="dropdown-menu text-small shadow border-0">
		@for (category of categories; track category) {
			<li>
				<a class="dropdown-item color" (click)="searchByCategory(category)">{{
					category
				}}</a>
			</li>
		}
	</ul>
</div>
<app-search-books [books]="books()"></app-search-books>
