:root {
	--background-color: rgb(38, 38, 38);
	--background-color-secondary: rgb(166, 166, 166);
	--text-color: rgb(161, 156, 156);
	--text-color-secondary: black;
	--form-control-bg-color: rgb(223, 215, 215);
	--form-control-placeholder-color: rgb(87, 85, 85);
	--card-bg-color: black;
	--nav-item-hover-color: rgba(77, 77, 77, 1);
}
