.sidebar {
    position: relative;
    border-radius: 13px 0 0 13px;
    width: 14.5rem;
    height: 42rem;

    .logo {
        width: 120px;
        height: 75px;
        display: block;
        margin: 2rem auto 3rem;
    }
    
    .icon {
        color: rgba(138, 138, 138, 1);
    }
    
    .icon-text {
        color: rgba(138, 138, 138, 1);
        font-size: 18px;
    }
    
    .link:hover {
        cursor: pointer;
        .icon {
            color: rgba(77, 77, 77, 1);
        }
    
        .icon-text {
            color: rgba(77, 77, 77, 1);
        }
    }
    
    .info {
        position: absolute; 
        bottom: 3rem;
        padding: 0 1.5rem;
    
        .info-link {
            display: block;
            max-width: max-content;
            margin-bottom: 0.5rem; 
            color: rgba(138, 138, 138, 1); 
            text-decoration: none; 
            font-size: 15px;
            cursor: pointer;
        }
        
        .info-link:hover {
            color: rgba(77, 77, 77, 1);
        }
    }
}