<div class="card border-0">
	<div class="row">
		<div class="col-lg-1 card-img-container">
			<img
				[src]="book()?.volumeInfo?.imageLinks?.thumbnail"
				[title]="book()?.volumeInfo?.title"
				class="card-img"
			/>
		</div>
		<div class="col-lg-4">
			<div class="card-body">
				<p class="card-title card-wrap">{{ book()?.volumeInfo?.title }}</p>
				<p class="card-description card-wrap">
					{{ book()?.volumeInfo?.authors?.[0]
					}}{{
						book()?.volumeInfo?.authors && book()?.volumeInfo?.publishedDate
							? ', '
							: ''
					}}{{ book()?.volumeInfo?.publishedDate?.slice(0, 4) }}
				</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card-body card-wrap-optional">
				{{ book()?.volumeInfo?.categories || 'Not Specified' }}
			</div>
		</div>
		<div class="col-lg-2 card-favorite">
			<i
				class="bi cart-heart"
				[ngClass]="{
					'bi-heart': !isFavorite(),
					'bi-heart-fill': isFavorite(),
				}"
				(click)="toggleFavorite()"
			></i>
		</div>
		<div class="col-lg-1 card-button">
			<button class="btn btn-outline-danger" (click)="previewBook()">
				Preview
			</button>
		</div>
	</div>
</div>
