@use '../../../styles/variables.scss' as *;

.title {
	margin: 3rem 0 2rem;
	color: var(--text-color);
	font-size: 35px;
}

@media (max-width: $width-m) {
	.title {
		font-size: 30px;
	}
}

@media (max-width: $width-s) {
	.title {
		font-size: 25px;
	}
}
