.title {
	margin: 3rem 0 2rem;
	color: rgba(77, 77, 77, 1);
	font-size: 35px;
}

@media (max-width: 768px) {
	.title {
		font-size: 30px;
	}
}

@media (max-width: 576px) {
	.title {
		font-size: 25px;
	}
}
