@use "@styles/_variables.scss" as *;

.dropdown {
	background-color: var(--background-color-secondary);
	padding: 0.25rem;
	max-width: max-content;
	border-radius: 2rem;
	box-shadow: 0px 2px 8px 0px var(--box-shadow-color);
	float: right;
	cursor: pointer;

	.dropdown-menu {
		background-color: var(--background-color-secondary);

		.dropdown-item:hover {
			background-color: var(--background-color-dropdown-item-hover);
		}
	}

	.color {
		color: var(--text-color-secondary);
	}
}

.dropdown-lang {
	padding: 0.56rem;
	margin-right: 1.5rem;

	.lang-icon {
		color: var(--slightly-orange);
	}
}

.search-container {
	width: 28rem;

	.input-group {
		position: relative;

		.dropdown-search {
			background: var(--background-color-dropdown-search);
		}

		.search-icon {
			color: var(--slightly-orange);
			position: absolute;
			right: 1rem;
			top: 0.7rem;
			z-index: 1;
		}

		.form-control {
			box-shadow: 3px 2px 8px 0px var(--box-shadow-color);
			border-radius: 2rem;
			color: var(--text-color-secondary);
			padding-right: 3rem;
			background-color: var(--form-control-bg-color);
			z-index: 0;
		}

		.form-control::placeholder {
			color: var(--form-control-placeholder-color);
		}
	}
}

@media (max-width: 1230px) {
	.search-container {
		width: 20rem;
	}
}

@media (max-width: 1100px) {
	.dropdown {
		float: left;
	}

	.dropdown-lang {
		margin-left: 1rem;
		margin-right: 0;
	}
}

@media (max-width: 637px) {
	.dropdown-lang {
		margin-left: 0;
		margin-right: 1rem;
	}
}

@media (max-width: $width-576px) {
	.dropdown-lang {
		margin-left: 1rem;
		margin-right: 0;
	}
}

@media (max-width: 560px) {
	.dropdown-lang {
		margin-left: 0rem;
		margin-right: 5rem;
	}
}

@media (max-width: 485px) {
	.search-container {
		width: 13rem;
	}

	.dropdown-toggle {
		padding-right: 0.5rem !important;

		.dropdown-param {
			margin: 0 !important;
		}
	}
}
