<div class="dropdown mb-3 border">
	<a
		class="d-flex align-items-center text-decoration-none dropdown-toggle pe-4 color"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		data-bs-offset="0,15"
	>
		<img
			[src]="imgUrl() ? imgUrl() : '/anon.png'"
			alt="User photo"
			i18n-alt
			width="40"
			height="40"
			class="rounded-circle"
		/>
		<span i18n class="mx-3">{{ userName() }}</span>
	</a>
	<ul class="dropdown-menu dropdown-menu-end text-small shadow border-0">
		<li>
			<a
				i18n
				class="dropdown-item color"
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.PROFILE]"
				>Profile</a
			>
		</li>
		<li>
			<a
				i18n
				class="dropdown-item color"
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.SEARCH]"
				>Search</a
			>
		</li>
		<li>
			<a
				i18n
				class="dropdown-item color"
				[routerLink]="['/', ERoutes.BOOKS, ERoutes.FAVORITES]"
				>Favourites</a
			>
		</li>
		<li><a i18n class="dropdown-item color" (click)="logout()">Logout</a></li>
	</ul>
</div>
<div class="dropdown dropdown-lang mb-3 border">
	<a
		class="d-flex align-items-center text-decoration-none dropdown-toggle pe-3 color"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		data-bs-offset="0,23"
	>
		<i class="fs-5 bi bi-translate mx-2 lang-icon"></i>
		<span i18n class="me-3 ms-2">Language</span>
	</a>
	<ul class="dropdown-menu text-small shadow border-0">
		@for (locale of localesList; track locale.code) {
			<li>
				<a class="dropdown-item color" (click)="changeLanguage(locale.code)">{{
					locale.label
				}}</a>
			</li>
		}
	</ul>
</div>
<div class="search-container mb-3">
	<div class="input-group">
		<div class="dropdown dropdown-search border">
			<a
				class="d-flex align-items-center text-decoration-none dropdown-toggle p-2 pe-4 color"
				data-bs-toggle="dropdown"
				aria-expanded="false"
				data-bs-offset="0,15"
			>
				<span class="mx-3 dropdown-param">{{ searchParam() }}</span>
			</a>
			<ul class="dropdown-menu text-small shadow border-0">
				@for (param of searchParams; track $index) {
					<li>
						<a class="dropdown-item color" (click)="changeSearchParam(param)">{{
							param
						}}</a>
					</li>
				}
			</ul>
		</div>
		<i class="bi bi-search search-icon"></i>
		<input
			type="text"
			class="form-control border border-start-0"
			i18n-placeholder
			placeholder="Search"
			(keyup.enter)="search($event)"
			ngModel
			required
			pattern="(?=.*\S)[\wа-яА-ЯёЁ\s\-]{1,30}"
		/>
	</div>
</div>
