<app-backdrop />
<div
	class="side-menu {{ burgerMenuService.show() ? 'open' : 'closed' }}"
	(click)="close()"
>
	<div class="d-flex flex-column align-items-center px-4">
		<img src="/logo.png" alt="My Book Shelf" class="logo" />
		<nav class="nav nav-pills flex-column">
			<a
				routerLink="/books"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-house-door icon"></i>
				<span class="ms-2 icon-text">Home</span>
			</a>
			<a
				routerLink="search"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-search icon"></i>
				<span class="ms-2 icon-text">Search</span>
			</a>
			<a
				routerLink="favorites"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-heart icon"></i>
				<span class="ms-2 icon-text">Favorites</span></a
			>
			<a
				routerLink="my-books"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-book icon"></i>
				<span class="ms-2 icon-text">My Books</span></a
			>
			<a
				routerLink="upload"
				routerLinkActive="active-link"
				class="nav-link link-dark shadow-none link"
			>
				<i class="fs-5 bi bi-file-arrow-up icon"></i>
				<span class="ms-2 icon-text">Upload</span>
			</a>
		</nav>
		<div class="info">
			<a class="info-link">About</a>
			<a class="info-link">Support</a>
			<a class="info-link">Terms & Conditions</a>
		</div>
	</div>
</div>
