.flex-container {
	display: flex;
	flex-direction: row;

	.layout {
		flex: 1;
		background-color: var(--background-color);
		border-radius: 0 13px 13px 0;
		height: 42rem;
		padding: 2rem;
		overflow-y: scroll;
	}
}

@media (max-width: 575px) {
	.layout {
		border-radius: 13px !important;
	}
}
