<div class="col-auto px-sm-2 px-0 bg-white sidebar">
	<div class="d-flex flex-column align-items-center align-items-sm-start px-4">
		<img
			src="https://s3-alpha-sig.figma.com/img/a7f1/7187/c805adbfbac24bbcb0e7d7ac5b60dba3?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=e9H9bPspyqLF7OgbogcFJhIR3BysIoCjB5gxJ2pAn76CRBJ~rBtPCyIIJ3K8jz5e6YRVeho7mnQEWEz~GiCZOuQAtST9g4rUNxwaD7lSqbXIRotwKrRQ74hEhbA7xr1nCbiKlnMA7mCgq5vKRIl0pfTqm6aULJXb41sUIzHc~DLzJaYtp3ByMHIdOo4bgfrZY21qqHCIwaNZ5YJpwuAqyn0UbGzHJah9pgCGxaa9sJmTKe8bbeJBbqrKyoWtIwe16U8PIxonTpphOwlA5YVYcdzrpmQbAPt9982JBbbDcN1b-JusCybWSUldCYj3KSZ9ECKOZQ6BXXKLZQjUzb08vQ__"
			alt="My Book Shelf"
			class="logo"
		/>
		<nav
			class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
		>
			<a
				routerLink="/books"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				class="nav-link link-dark px-4 align-middle link"
			>
				<i class="fs-5 bi bi-house-door icon"></i>
				<span class="ms-2 d-none d-sm-inline icon-text">Home</span>
			</a>
			<a
				routerLink="/books/search"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle link"
			>
				<i class="fs-5 bi bi-search icon"></i>
				<span class="ms-2 d-none d-sm-inline icon-text">Search</span>
			</a>
			<a
				routerLink="/books/favorites"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle link"
			>
				<i class="fs-5 bi bi-heart icon"></i>
				<span class="ms-2 d-none d-sm-inline icon-text">Favorites</span></a
			>
			<a
				routerLink="/books/my-books"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle link"
			>
				<i class="fs-5 bi bi-book icon"></i>
				<span class="ms-2 d-none d-sm-inline icon-text">My Books</span></a
			>
			<a
				routerLink="/books/upload"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle link"
			>
				<i class="fs-5 bi bi-file-arrow-up icon"></i>
				<span class="ms-2 d-none d-sm-inline icon-text">Upload</span>
			</a>
		</nav>
		<div class="info">
			<a class="info-link">About</a>
			<a class="info-link">Support</a>
			<a class="info-link">Terms & Conditions</a>
		</div>
	</div>
</div>
