<app-side-menu></app-side-menu>
<div class="d-none d-sm-block col-auto px-md-2 px-0 sidebar">
	<div class="d-flex flex-column align-items-center align-items-md-start px-4">
		<img src="/logo.png" alt="My Book Shelf" i18n-alt class="logo" />
		<nav
			class="nav nav-pills flex-column mb-md-auto mb-0 align-items-center align-items-md-start"
		>
			<a
				[routerLink]="routes.books"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				class="nav-link link-dark px-4 align-middle shadow-none link"
			>
				<i class="fs-5 bi bi-house-door icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">Home</span>
			</a>
			<a
				[routerLink]="routes.search"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle shadow-none link"
			>
				<i class="fs-5 bi bi-search icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">Search</span>
			</a>
			<a
				[routerLink]="routes.favorites"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle shadow-none link"
			>
				<i class="fs-5 bi bi-heart icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">Favorites</span></a
			>
			<a
				routerLink="my-books"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle shadow-none link"
			>
				<i class="fs-5 bi bi-book icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">My Books</span></a
			>
			<a
				routerLink="upload"
				routerLinkActive="active-link"
				class="nav-link link-dark px-4 align-middle shadow-none link"
			>
				<i class="fs-5 bi bi-file-arrow-up icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">Upload</span>
			</a>
			<a
				class="nav-link link-dark px-4 mt-5 align-middle link"
				(click)="changeTheme()"
			>
				<i class="fs-5 bi bi-brightness-high-fill icon"></i>
				<span i18n class="ms-2 d-none d-md-inline icon-text">Theme</span>
			</a>
		</nav>
		<div class="info">
			<a i18n class="info-link">About</a>
			<a i18n class="info-link">Support</a>
			<a i18n class="info-link">Terms & Conditions</a>
		</div>
	</div>
</div>
