.sidebar {
	position: relative;
	border-radius: 13px 0 0 13px;
	width: 14.5rem;
	height: 42rem;
	background-color: var(--card-bg-color);

	.logo {
		width: 120px;
		height: 75px;
		display: block;
		margin: 2rem auto 3rem;
	}

	.active-link {
		.icon,
		.icon-text {
			color: var(--nav-item-hover-color);
		}
	}

	.icon {
		color: var(--grey);
	}

	.icon-text {
		color: var(--grey);
		font-size: 18px;
	}

	.link:hover {
		cursor: pointer;

		.icon,
		.icon-text {
			color: var(--nav-item-hover-color);
		}
	}

	.info {
		position: absolute;
		bottom: 3rem;
		padding: 0 1.5rem;

		.info-link {
			display: block;
			max-width: max-content;
			margin-bottom: 0.5rem;
			color: var(--grey);
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
		}

		.info-link:hover {
			color: var(--nav-item-hover-color);
		}
	}
}

@media (max-width: 768px) {
	.logo {
		height: 50px !important;
		width: 70px !important;
	}

	.sidebar {
		width: 7.5rem;
	}

	.info {
		text-align: center;

		.info-link {
			margin: 0 auto;
		}
	}
}
