@use '../../styles/variables.scss' as *;

.sidebar {
	position: relative;
	border-radius: 13px 0 0 13px;
	width: 14.5rem;
	height: 42rem;
	background-color: var(--card-bg-color);
}

@media (max-width: $width-m) {
	.nav-logo {
		height: 50px !important;
		width: 70px !important;
	}

	.sidebar {
		width: 7.5rem;
	}

	.info {
		text-align: center;

		.info-link {
			margin: 0 auto;
		}
	}
}
