<div class="card" [routerLink]="book()?.id">
	<img
		[src]="book()?.volumeInfo?.imageLinks?.thumbnail"
		[title]="book()?.volumeInfo?.title"
		[alt]="book()?.volumeInfo?.title"
		class="card-img-top"
	/>
	<p class="card-text card-title">{{ book()?.volumeInfo?.title }}</p>
	<p class="card-text card-description">
		{{ book()?.volumeInfo?.authors?.[0]
		}}{{
			this.book()?.volumeInfo?.authors && this.book()?.volumeInfo?.publishedDate
				| separatorPipe
		}}{{ book()?.volumeInfo?.publishedDate | slice: 0 : 4 }}
	</p>
	<p class="card-text card-grade">
		<span class="card-grade-dynamic">4,5</span>/5
	</p>
</div>
