<div class="container">
	<img src="/logo.png" alt="My Book Shelf" i18n-alt class="logo" />
	<p i18n class="welcome">Welcome Back!</p>
	<p i18n class="description">
		Sign in to continue working with your Digital Library
	</p>
	<form #authForm="ngForm" (ngSubmit)="login(authForm)">
		<div>
			<label i18n for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control shadow-none"
				id="email"
				name="email"
				#email="ngModel"
				email
				ngModel
				required
				aria-describedby="emailHelp"
			/>
			<p
				i18n
				[ngClass]="{ error: true, visibility: email.valid || email.untouched }"
			>
				Invalid Email!
			</p>
		</div>
		<div>
			<label i18n for="password" class="form-label">Password</label>
			<input
				[type]="fieldTextType() ? 'text' : 'password'"
				class="form-control shadow-none"
				id="password"
				name="password"
				#password="ngModel"
				ngModel
				required
				pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{8,}"
			/>
			<i
				class="bi togglePassword"
				[ngClass]="{
					'bi-eye-slash-fill': !fieldTextType(),
					'bi-eye-fill': fieldTextType(),
				}"
				(click)="toggleFieldTextType()"
			></i>
			<p
				i18n
				[ngClass]="{
					error: true,
					visibility: password.valid || password.untouched,
				}"
			>
				Invalid Password!
			</p>
		</div>
		<div class="d-grid col-12">
			<button
				i18n
				class="btn btn-orange"
				type="submit"
				[disabled]="authForm.invalid"
			>
				Login
			</button>
		</div>
	</form>
	<p i18n class="footer">
		New User? <a [routerLink]="'/' + routes.Signup" class="register-link">Register Here</a>
	</p>
</div>
