@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

body {
	height: 100%;
	background: {
		image: url('/background.png');
		size: cover;
		repeat: no-repeat;
		attachment: fixed;
	}
	padding: 3rem 1.5rem;
	overflow-y: hidden;
}
