.card {
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--card-bg-color);

	.card-img-container {
		margin-right: 1.5rem;

		.card-img {
			width: 4.7rem;
			height: 6.25rem;
		}
	}

	.card-body {
		color: var(--text-color);

		.card-description {
			font-size: 14px;
		}

		.card-wrap {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	.card-favorite {
		padding: 2.4rem;
		color: var(--dark-theme-secondary-color);

		.cart-heart {
			cursor: pointer;
		}

		.bi-heart-fill {
			color: rgba(243, 64, 64, 1);
		}

		.cart-heart:hover {
			color: rgba(243, 64, 64, 1);
		}
	}

	.card-button {
		padding: 2rem;
		margin-left: -1rem;

		.btn-outline-danger {
			color: var(--button-primary-color);
			border: 1px solid var(--button-primary-color);
			width: 85px;
			padding: 0.3rem;
		}

		.btn-outline-danger:hover {
			background-color: var(--button-primary-color);
			color: var(--card-bg-color);
		}
	}
}

@media (max-width: 1200px) {
	.card-favorite {
		margin-left: -2rem;
	}
}

@media (max-width: 991.9px) {
	.card {
		width: 11.875rem;
		height: 24rem;
		margin: 0;

		.card-img {
			display: block;
			margin: 0 auto;
			margin-bottom: 0.5rem;
			width: 9.7rem !important;
			height: 11.25rem !important;
		}

		.card-body {
			padding: 0;
		}

		.card-wrap-optional {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.card-favorite {
			margin: 1rem 0.5rem;
			padding: 0.8rem;
			display: inline;
			max-width: max-content;
		}

		.card-button {
			padding: 0.3rem;
			margin: 1rem 0.5rem;
			display: inline;
			max-width: max-content;
		}
	}
}
